body, html {
	margin:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#game {
/*	cursor: none;*/
	float: left;
}

#arnika {
	background: #000000;
	width: 100px;
	height: 100px;
	border-radius: 40px;
	margin: 0 auto;
	position: relative;
	top: 250px;
	-webkit-transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform .4s;
	-webkit-transition: left .75s ease-out;
}

#ball {
	background: #000000;
	width: 100px;
	height: 100px;
	border-radius: 80px;
	margin: 0 auto;
	position: relative;
	top: 100px;
}

.junk {
	background: #000000;
	width: 50px;
	height: 50px;
	position: absolute;
}

.junk.bottom {
	bottom: -50px;
	/*-webkit-transition: bottom .75s ease-out;*/
}

.junk.top {
	top: -50px;
	-webkit-transition: top .75s ease-out;
}