/* @override 
	http://fiddy.dev/FTCE/log/log.css
	http://hg.dev/HOG/game1/l/log.css
*/

#logger {
	width: 100%;
	padding-top: 22px;
	position: relative;
	height: 200px;
	background-color: #444444;
	position:fixed;
	bottom:0;
	overflow:auto;
	z-index:10000;
	-webkit-transition:all .05s ease;
	bottom:-200px;
}

#logger * {
	font-family: monospace;
	text-shadow: none;
	color: #000;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

#logger.open {
	bottom:0;
}

#logger a {
	text-decoration:none;
}

#title {
	background-color: #222222;
	height: 22px;
	position: absolute;
	color: #fffeff;
	font: 12px/22px Arial;
	text-indent: 4px;
	top: 0;
	width: 100%;
	text-align: center;
}

#title span {
	margin-right: 1px;
	margin-left: 1px;
	background-color: #363636;
	padding-right: 20px;
	padding-left: 20px;
	color: #ffffff;
}

#kill {
	float: right;
	font-family: Arial;
}

#fps {
	float: left;
}

.log {
	background-color: #515151;
	border-top: 1px solid #323232;
	position: relative;
	margin: 0;
}

.log span {
	min-width: 39px;
	text-align: right;
	padding: 5px;
	font: 10px;
	color: #fffeff;
	background-color: #858585;
	position: absolute;
	top: 0;
	left: 0;
}

.logs {
	background-color: #DDDDDD;
	padding-bottom: 5px;
	padding-left: 55px;
	list-style-position: inside;
	list-style-type: none;
	padding-top: 5px;
}